<h1>Editing Profile</h1>

<%# render the relevant edit form depending on the type of profile %>
<% if @profile.iscompany %>
<%= render 'form_business', profile: @profile %>
<% else %>
<%= render 'form_individual', profile: @profile %>
<% end %>

<%= link_to 'Show', profile_path(@profile) %>
