// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );

@import "bootstrap";
@import 'purecss';

// simple_form helpers
@import "simple_form-bootstrap/simple_form-bootstrap";

.navbar-btns {
    float: right;
}

.card-img-top {
    width: 100%;
    height: 225px;
}
.homepage {
    height: 525px;
    width: 18rem;
    margin: 30px;
}